.btn1 {
  opacity: .5;
  transition: all 500ms;

  &.btn1:hover {
    opacity: 1;
  }
}

.btn2 {
  animation: color-change 1s linear .5s both infinite alternate;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes color-change {
  0% {
    background-color: #1748d7;
    border-color: chartreuse;
  }
  100% {
    background-color: #1ba5d7;
    border-color: red;
  }
}